@font-face {
    font-family: 'Berton-Roman-trial';
    src: url('./fonts/Berton-Roman-trial.eot');
    src: url('./fonts/Berton-Roman-trial.eot?#iefix') format('embedded-opentype'),
         url('./fonts/Berton-Roman-trial.woff2') format('woff2'),
         url('./fonts/BertonRoman-Regular.svg#BertonRoman-Regular') format('svg'),
         url('./fonts/BertonRoman-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }